Lenguaje de Marcas/Código VisualStudio/Lenguaje de Marcas/XML/Práctica1/Viaje.dtd

<!ELEMENT viaje (cliente, destinos)>
<!ELEMENT cliente (nombre, fecha_inicio, fecha_fin, origen)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fecha_inicio (#PCDATA)>
<!ELEMENT fecha_fin (#PCDATA)>
<!ELEMENT origen (#PCDATA)>
<!ELEMENT destinos (destino+)>
<!ELEMENT destino (ciudad, hotel, noches)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT hotel (#PCDATA)>
<!ELEMENT noches (#PCDATA)>
